@page "/checkout"
@using LRSIceRink.Data
@using Microsoft.EntityFrameworkCore
@using System.Collections.Immutable
@inject ApplicationDbContext Context   
@inject IMessageService MessageService

<PageTitle>Skate Check Out</PageTitle>

<h1>Rental Check Out/Check In</h1>
<LoadingIndicator @bind-Visible="@_busy">
@if (_hasLoaded)
{
    <Field>
        <TextEdit Placeholder="Search for skate..." @bind-Text="_search"/>
    </Field>
    @if (_skates is not null)
    {
        <Table Striped>
            <TableBody>
                @foreach (var skate in _skates.Where(s => (string.IsNullOrEmpty(_search) || s.Name.Contains(_search))))
                {
                    <TableRow>
                        <TableRowHeader>@skate.Name</TableRowHeader>
                        <TableRowCell>@skate.Status.ToString()</TableRowCell>
                        <TableRowCell>
                            @if (skate.Status == SkateStatus.Available)
                            {
                                <Buttons>
                                    <Button Color="Color.Primary" Clicked="async () => await UpdateSkateStatus(skate, SkateStatus.InUse)">
                                        Check Out
                                    </Button>
                                    <Button Color="Color.Secondary" Disabled>Check In</Button>
                                </Buttons>
                            }
                            else if (skate.Status == SkateStatus.InUse)
                            {
                                <Buttons>
                                    <Button Color="Color.Secondary" Disabled>Check Out</Button>
                                    <Button Color="Color.Primary" Clicked="async () => await UpdateSkateStatus(skate, SkateStatus.Available)">
                                        Check In
                                    </Button>
                                </Buttons>
                            }
                            else
                            {
                                <Buttons>
                                    <Button Color="Color.Secondary" Disabled>Check Out</Button>
                                    <Button Color="Color.Secondary" Disabled>Check In</Button>
                                </Buttons>
                            }
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    }
    else //_skates is null 
    {
        <p>Uh oh! Either something went wrong or there are no skates to display!</p>
    }
}
</LoadingIndicator>
@code {
    private List<Skate>? _skates;
    private bool _busy;
    private bool _hasLoaded;
    private string? _search;
    private List<Property>? _properties;
    protected override async Task OnInitializedAsync()
    {
        _busy = true;
        _hasLoaded = false;

        try
        {
            if (Context is not null)
            {
                //Get all skates
                _skates = await Context.Skates.OrderBy(s=>s.Name).ToListAsync();
                //Get global properties
                _properties = await Context.Properties.ToListAsync();
            }
        }
        finally
        {
            _busy = false;
        }

        await base.OnInitializedAsync();
        _hasLoaded = true;
    }

    protected async Task UpdateSkateStatus(Skate skate, SkateStatus newStatus)
    {
        _busy = true;
        await Context.Entry(skate).Collection(s => s.SkateUsages).LoadAsync();

        SkateStatus oldStatus = skate.Status;

        if (newStatus == SkateStatus.InUse)
        {
            if (skate.MinutesUsed >
                Double.Parse(_properties.First(
                        p => p.Name == "MaxSkateUsageMinutes").Value))
            {
                if (await MessageService.Confirm("Skate needs to be sharpened. Are you sure you want to check out?", "Confirmation"))
                {
                    SkateUsage? usage = skate.SkateUsages.Find(s => s.TimeIn == null);

                    if (usage is null)
                    {
                        usage = new SkateUsage
                        {
                            TimeOut = DateTime.Now
                        };
                        skate.SkateUsages.Add(usage);
                    }
                }
                else
                {
                    //If canceled, don't check out
                    newStatus = oldStatus;
                }
            }
        } else if (newStatus == SkateStatus.Available && oldStatus == SkateStatus.InUse)
        {
            SkateUsage? usage = skate.SkateUsages.Find(s => s.TimeIn == null);
            if (usage is not null)
            {
                usage.TimeIn = DateTime.Now;
                TimeSpan? skateTimeSpan = usage.SkateDuration();
                if (skateTimeSpan is not null)
                {
                    skate.addMinutesUsed(skateTimeSpan.Value.TotalMinutes);
                }
            }
            //Warn if skate is over max usage minutes
            if (skate.MinutesUsed > Double.Parse(_properties.First(
                p => p.Name == "MaxSkateUsageMinutes").Value))
            {
                await MessageService.Warning("Skate has reached is max usage. Please set aside for sharpening", "Max Usage Reached");
            } else if (skate.MinutesUsed > Double.Parse(_properties.First(
                p => p.Name == "WarnSkateUsageMinutes").Value))
            {
                await MessageService.Info("Skate is almost at it's maximum usage. It can still be used but will need to be sharpened soon.", "Approaching max");
            }
        }

        skate.Status = newStatus;
        await Context.SaveChangesAsync();
        _busy = false;
    }
}