@page "/skateAdmin"
@attribute [Authorize(Roles = "GlobalAdmin, SkateAdmin")]
@using LRSIceRink.Data
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Skate Administration</PageTitle>

<h1>Skate Administration</h1>
<p>Here you can manually modify any of the skate properties 
    (Warning: Modifying properties here is entirely manual so if, for example, 
    you set a skate to "In Use" on this page, and then check it back in on the main page, 
    no hours will be added)</p>
<LoadingIndicator @bind-Visible="@_busy">
    @if(_hasLoaded) {
        <Field>
            <TextEdit Placeholder="Search for skate..." @bind-Text="_search" Immediate="true" />
        </Field>
        @if(_skates is not null) {
            <Button Color="Color.Success" Size="Size.Small" Clicked="() => _addSkateModalVisible=true">Add Skate</Button>
            <br/>
            <br/>
            <Table Striped>
                <TableBody>
                    @foreach (var skate in _skates.Where(s => (string.IsNullOrEmpty(_search) || s.Name.Contains(_search))))
                    {
                        <TableRow>
                            <TableRowHeader>
                                @if (skate.IsArchived)
                                {
                                    <Badge Color="Color.Warning">Archived</Badge>
                                }
                                @skate.Name
                            </TableRowHeader>
                            <TableRowCell>
                                @switch (skate.Status)
                                {
                                    case SkateStatus.InUse:
                                        <Badge Color="Color.Info" Pill >Checked Out</Badge>
                                        break;

                                    case SkateStatus.Available:
                                        <Badge Color="Color.Success" Pill>Available</Badge>
                                        break;

                                    case SkateStatus.BeingSharpened:
                                        <Badge Color="Color.Secondary" Pill>Being Sharpened</Badge>
                                        break;
                                }
                            </TableRowCell>
                            <TableRowCell>
                                <Row>
                                    <Column>
                                        <NumericPicker Decimals="0" TValue="double" Value="skate.MinutesUsed" Min="0" ValueChanged="min => UpdateSkateMinutes(skate, min)"/>
                                    </Column>
                                    <Column>
                                        <span>minutes</span>
                                    </Column>
                                </Row>
                            </TableRowCell>
                            <TableRowCell>
                                <Dropdown>
                                    <DropdownToggle Color="Color.Primary">Edit Skate</DropdownToggle>
                                    <DropdownMenu>
                                        <DropdownHeader>Set Status</DropdownHeader>
                                            <DropdownItem Clicked="async () => await UpdateSkateStatus(skate, SkateStatus.Available)">Available</DropdownItem>
                                            <DropdownItem Clicked="async () => await UpdateSkateStatus(skate, SkateStatus.InUse)">In Use</DropdownItem>
                                            <DropdownItem Clicked="async () => await UpdateSkateStatus(skate, SkateStatus.BeingSharpened)">Being Sharpened</DropdownItem>
                                        <DropdownDivider />
                                        @if (skate.IsArchived)
                                        {
                                            <DropdownItem Clicked="async () => await UnarchiveSkate(skate)">Remove from archive</DropdownItem>
                                        }
                                        else
                                        {
                                            <DropdownItem Clicked="async () => await ArchiveSkate(skate)">Archive</DropdownItem>
                                        }
                                    </DropdownMenu>
                                </Dropdown>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
            <Modal @bind-Visible="@_addSkateModalVisible">
                <ModalContent Centered>
                    <ModalHeader>
                        <ModalTitle>Add Skate</ModalTitle>
                    </ModalHeader>
                    <ModalBody>
                        <Field>
                            <FieldLabel>Name</FieldLabel>
                            <TextEdit Placeholder="Enter name..." @bind-Text="@_newSkateName" />
                        </Field>
                    </ModalBody>
                    <ModalFooter>
                        <Button Color="Color.Secondary" Clicked="() => { _addSkateModalVisible = false; }">Cancel</Button>
                        <Button Color="Color.Primary" Clicked="AddSkate">Add Skate</Button>
                    </ModalFooter>
                </ModalContent>
            </Modal>
        } 
    }
</LoadingIndicator>
@code {
    private bool _busy, _hasLoaded;
    private List<Skate>? _skates;
    private string? _search;
    private List<Property>? _properties;
    private bool _addSkateModalVisible;
    private string _newSkateName;
    private ApplicationUser user;
    private ApplicationDbContext? Context;

    protected override async Task OnInitializedAsync() {
        _busy = true;
        _hasLoaded = false;
        Context = await DbFactory.CreateDbContextAsync();
        if(Context is not null) {
            //Get all skates
            _skates = await Context.Skates.OrderBy(s=>s.IsArchived).ThenBy(s => s.Name).ToListAsync();
            //Get global properties
            _properties = await Context.Properties.ToListAsync();
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = await UserManager.GetUserAsync(authState.User);
        await base.OnInitializedAsync();
        _busy = false;
        _hasLoaded = true;
    }
    public void Dispose()
    {
        Context?.Dispose();
    }
    protected async Task UpdateSkateStatus(Skate skate, SkateStatus newStatus) {
        _busy = true;
        AuditLog audit = new AuditLog()
        {
            Timestamp = DateTime.Now,
            Skate = skate,
            User = user,
            Action = $"Changed skate status from {skate.Status} to {newStatus}"
        };
        skate.Status = newStatus;
        Context.AuditLogs.Add(audit);
        await Context.SaveChangesAsync();
        _busy = false;
    }

    protected async Task UpdateSkateMinutes(Skate skate, double minutes)
    {
        _busy = true;
        AuditLog audit = new AuditLog() {
                Timestamp = DateTime.Now,
                Skate = skate,
                User = user,
                Action = $"Changed skate usage minutes from {(skate.MinutesUsed / 60):0.## hours} to {(minutes / 60):0.## hours}"
            };
        skate.MinutesUsed = minutes;
        Context.AuditLogs.Add(audit);
        await Context.SaveChangesAsync();
        _busy = false;
    }

    protected async Task AddSkate()
    {
        _busy = true;
        Skate skate = new Skate()
        {
            Name = _newSkateName
        };
        AuditLog audit = new AuditLog() {
            Timestamp = DateTime.Now,
            Skate = skate,
                User = user,
            Action = $"Added new skate"
        };
        _skates.Add(skate);
        Context.Skates.Add(skate);
        Context.AuditLogs.Add(audit);
        await Context.SaveChangesAsync();
        _newSkateName = "";
        _addSkateModalVisible = false;
        _busy = false;
    }

    protected async Task ArchiveSkate(Skate skate)
    {
        _busy = true;
        AuditLog audit = new AuditLog() {
            Timestamp = DateTime.Now,
            Skate = skate,
            User = user,
            Action = $"Archived Skate"
        };
        skate.IsArchived = true;
        Context.AuditLogs.Add(audit);
        await Context.SaveChangesAsync();
        _busy = false;
    }
    protected async Task UnarchiveSkate(Skate skate)
    {
        _busy = true;
        AuditLog audit = new AuditLog() {
                Timestamp = DateTime.Now,
                Skate = skate,
                User = user,
                Action = $"Removed skate from archive"
            };
        skate.IsArchived = false;
        Context.AuditLogs.Add(audit);
        await Context.SaveChangesAsync();
        _busy = false;
    }
}
