@using Microsoft.AspNetCore.Identity
@using LRSIceRink.Data
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthNStateProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@greeting</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected string greeting = "Welcome!";
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthNStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        greeting = $"Welcome {user.FirstName} {user.LastName}!";
        await base.OnInitializedAsync();
    }
}
